{% extends "catalog.html" %}

{% block title %}
	{{curr_categ.name}} Items | Category Item App
{% endblock %}

{% block right_content %}
	<div class="right-content">
		{% if is_contrib == True %}
			<a href="/catalog/item/new/">Add Item</a>
		{% endif %}
		<h3>{{curr_categ.name}} Items</h3>
		<h4>({{categ_items|count}} items)</h4>
		{% if categ_items|count > 0 %}
			{% for item in categ_items %}
				<div class="item">
					<a href="/catalog/{{item.category.name}}/{{item.name}}/">
						{{item.name}}</a>
					<span class="item-categ">
						({{item.category.name}})
					</span>
				</div>
			{% endfor %}
		{% else %}
			<p>No Items for: {{curr_categ.name}}</p>
		{% endif %}
		<hr>
		<h3>{{curr_categ.name}} (description):</h3>
		<p>{{curr_categ.description}}</p>
	</div>
{% endblock %}

{% block extra_api_links %}
	 | <a href="/catalog/{{curr_categ.name}}/items/json/">{{curr_categ.name}} Items JSON</a>
{% endblock %}
